
@{
    Layout = null;
}

<link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/css/blog-home.css" rel="stylesheet" />

<head>
    <title>Museum EPN - Contactos</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7yFbsVf9Xn2x5f_F9ik4z7TJQ87gLvM8&region=EC&language=en"></script>
</head>

<!--Barra de Navegación-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/Principal/MenuPrincipal/IniciarMenu">Inicio</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
             id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Principal/Map/mostrarMapa">Contactos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--Contenedor-->

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="my-4">
                Contactos
            </h1>
            <h2>Mapa</h2>
            <!--Mapa de Google-->
            <div id="map-model01"
                 style=" height: 66%;
                     width:80%;
                     position: absolute;
                     overflow:hidden;">

            </div>

            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
                <li class="page-item">
                    <a class="page-link" href="#">&larr; Older</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">Newer &rarr;</a>
                </li>
            </ul>
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Informacion</h5>
                <div class="card-body">
                    DIRECCIÓN:
                    <br />
                    Ladrón de Guevara E11-253
                    <br />
                    TELÉFONO:
                    <br />
                    (593 2) 223 6690
                    <br />
                    HORARIO:
                    <br />
                    lunes a viernes 08h00 a 12h30 y 13h30 a 16h30
                    <br />
                    PRECIOS:
                    <br />
                    adultos 1,00 USD, estudiantes/adultos mayores y niños 0,50 USD
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
    </div>
    <!-- /.container -->
</footer>

<script>
    var uluru = { lat: -0.21157, lng: -78.49031 };
    var map = new google.maps.Map(document.getElementById('map-model01'), {
        zoom: 50,
        center: uluru,
        mapTypeId: google.maps.MapTypeId.HYBRID,
        zoomControl: true,
        zoomControlOptions: {
            position: google.maps.ControlPosition.LEFT_BOTTOM
        },
        streetViewControl: true,
        streetViewControlOptions: {
            position: google.maps.ControlPosition.LEFT_BOTTOM
        },
        mapTypeControlOptions: {
            position: google.maps.ControlPosition.RIGHT_CENTER
        },
    });
</script>